.home
{
    width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.writing
{
    background-color: antiquewhite;
	width: auto;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

p
{
    font-size: 60px;
}